.board {
    display: flex;
    flex-direction: column;
}

.board-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height:fit-content;
    width: fit-content;
}

.cell-black {
    width: 4vw;
    height: 4vw;
    border: solid 0.2px black;
    background-color: black;
    text-align: center;
    font-size: 60px;
}
.cell-white {
    width: 4vw;
    height: 4vw;
    border: solid 0.2px black;
    background-color: white;
    text-align: center;
    font-size: 60px;
}

.numbers {
    padding: 0px 20px;
    font-size: 1em;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}
